body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:402px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-8px;
  width:877px;
  height:402px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:283px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:438px;
  width:840px;
  height:283px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:274px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:764px;
  width:895px;
  height:274px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:129px;
  width:891px;
  visibility:hidden;
  word-wrap:break-word;
}
