body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:360px;
  height:640px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:85px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:364px;
  height:570px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:124px;
  width:360px;
  height:566px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:85px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:364px;
  height:34px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:124px;
  width:360px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1338_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:364px;
  height:104px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:184px;
  width:360px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:44px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:194px;
  width:60px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:124px;
  height:44px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:194px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:194px;
  width:80px;
  height:80px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:244px;
  height:44px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:234px;
  width:240px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:236px;
  word-wrap:break-word;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:194px;
  width:80px;
  height:80px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:364px;
  height:34px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:154px;
  width:360px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:34px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:154px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00B38A;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:316px;
  height:44px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:10px;
  width:302px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:282px;
  word-wrap:break-word;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:64px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:1390px;
  width:50px;
  height:50px;
  text-align:center;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:30px;
  word-wrap:break-word;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:254px;
  height:84px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:284px;
  width:250px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:254px;
  height:299px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:329px;
  width:250px;
  height:295px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:140px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:177px;
  height:48px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:364px;
  width:173px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:25px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:422px;
  width:22px;
  height:20px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:24px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:424px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:25px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:467px;
  width:22px;
  height:20px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:117px;
  height:24px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:469px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:25px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:512px;
  width:22px;
  height:20px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:117px;
  height:24px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:514px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:38px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:555px;
  width:200px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
